@model Domain.ViewModels.LoginView
@{
    
    ViewData["Title"] = "Login";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<html>
<head>

    <link rel="stylesheet" href="~/css/UserLogin.css" />
</head>
<body>
    <h1>Login</h1>
    <div class="login-container">
        <form asp-action="CompanyLogin" method="post" class="login-form">
            <div class="form-element">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" required>
            </div>

            <div class="form-element">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required>
            </div>

            <div class="form-element">
                <div class="form-checkbox">
                    <input type="checkbox" value="RememberMe" name="RememberMe" /><label for="RememberMe">Remember Me</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="form-footer">
            <div>
                <p class="form-forgotPassword"><a href="#">Forgot Password?</a></p>
            </div>
            <div>
                <a class="form-forgotPassword" href="@Url.Action("CompanyRegistration", "Login")">Register your Company Now!</a>
            </div>
        </div>
    </div>
    

</body>
</html>


