@model Domain.ViewModels.ForgotPasswordView

@{
    ViewData["Title"] = "Reset Password";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/UserLogin.css" />
    <style>
        .login-container{
            height: 435px;
        }
         h2{
            font-size: 25px;
            font-weight: bold;
            padding-left: 21%;
        }
    </style>
</head>
<body>
    <h2 >Reset Password</h2>
    <div class="login-container">
        <form asp-action="ForgotPassword" method="post" class="login-form">
            <div class="form-element">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-element">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-element">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            @if (TempData["First Time login"] != "FirstTimeLogin")
            {
                <div class="form-element">
                    <label asp-for="SecurityQuestion"></label>
                    <select asp-for="SecurityQuestion" class="form-control">
                        <option value="">Select a security question</option>
                        <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                        <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                        <option value="What was the name of your elementary school?">What was the name of your elementary school?</option>
                        <option value="In what city were you born?">In what city were you born?</option>
                    </select>
                    <span asp-validation-for="SecurityQuestion" class="text-danger"></span>
                </div>
                <div class="form-element">
                    <label asp-for="SecurityAnswer"></label>
                    <input asp-for="SecurityAnswer" class="form-control" placeholder="Security Answer" />
                    <span asp-validation-for="SecurityAnswer" class="text-danger"></span>
                </div>
            }
            <input type="submit" class="btn btn-primary" value="Reset Password">
        </form>
    </div>
</body>
</html>