<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeManagementSystem.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="../wwwroot/css/CompanyRegistration.css" asp-append-version="true" />

    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 navbar-admin">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="@Url.Content("~/Media/logo_dashboard.png")" class="logo_dashboard" alt="Dashboard Logo" /> 
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       <div class="nav-options">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="UserDashboard" asp-action="UserPage">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="UserDashboard" asp-action="ApplyLeaves">Apply Leave</a>
                                </li>
                            }
                        </div> 
                        <div class="nav-options">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                                </li>

                                
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="CompanyLogin">Company Login</a>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                            <div class="search-container">
                                <input type="text" class="search-enter" name="search" placeholder="search" />
                                <button type="submit" class="search-button">Search</button>
                            </div>
                            <div>
                                <a class="nav-link text-dark" asp-controller="UserDashboard" asp-action="UserProfile">Profile</a>
                            </div>
                            <div>
                                <a class="nav-link text-dark" asp-controller="Login" asp-action="Logout">Logout</a>
                            </div>
                            }
                        </div>
                       

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer">
            &copy; 2024 - EmployeeManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        var searchUrl = '@Url.Action("EmployeeSearch", "UserDashboard")';
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/RegistrationFormValidation.js" asp-append-version="true"></script>
    <script src="~/js/UserDashboard.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
