body {
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
    margin: 0;
}
.container{
    padding:2px;
}
.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.box-card {
    width: 340px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 12px;
    transition: transform 0.2s;
    overflow: hidden;
}

    .box-card:active {
        transform: scale(1.05);
    }

.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .box-header h2 {
        margin: 0;
        font-size: 1.25em;
        color: #627254;
        width: 100%;
    }

    .box-header hr {
        flex-grow: 1;
        margin-left: 10px;
        border: none;
        border-top: 2px solid #DDDDDD;
        
    }


.card-content {
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 220px;
    overflow-y:auto;
}

.user-card {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    padding: 2px;
    border-bottom: 1px solid #EEEEEE;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-details {
    flex-grow: 1;
    overflow: hidden;
}

.employee-id {
    font-weight: bold;
    color: #627254;
    word-wrap: break-word;
    margin-bottom: 2px;
}

.employee-name {
    color: #76885B;
    font-size: 15px;
}

.employee-role {
    font-style: italic;
    color: #AAAAAA;
    font-size: 13px;
}

.employee-phone {
    font-size: 12px;
    color: #627254;
}
.birthday-item {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 8px;
}

.attendance-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    background-color: #f9f9f9;
}

#timer {
    font-size: 2em;
    margin: 20px 0;
}

.btn {
    margin: 5px;
}
.drag-handle {
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    background-color: rgb(255, 255, 255);
    cursor: grab; /* Change cursor to indicate grabbable element */
    float: right;
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-left: 10px;
}
.no-bday{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 12px 0px 12px;
}
.no-bday-display{
    font-size: 14px;
    opacity:0.4;
}
.leave-report {
    padding: 12px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

    .leave-report h2 {
        margin-bottom: 10px;
        font-size: 24px;
        color: #333;
    }

.leave-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.leave-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

    .leave-item:last-child {
        border-bottom: none;
    }

.leave-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #739072;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
}

.leave-details {
    display: flex;
    flex-direction: column;
}

.leave-type {
    font-size: 16px;
    color: #333;
}

.leave-availability {
    font-size: 14px;
    color: #999;
}

.card-content {
    padding: 10px 0;
}



/* Holiday item */
.holiday-item {
    margin-bottom: 15px;
    display: flex;

}

/* Holiday name */
.holiday-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

/* Holiday name */
.holiday-name {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

/* Holiday date */
.holiday-date,
.holiday-day {
    font-size: 14px;
    color: #555;
}


/* No holiday message */
.no-holiday-display {
    font-size: 14px;
    color: #777;
    text-align: center;
}
